.grayscale{
	filter: grayscale(100%);
}
.grayscale:hover {
	filter: grayscale(0%);
}

#contact,#projects{
	margin-top: 25px;
}

#about{
	padding-top: 25px;
	padding-bottom: 25px;
}
#techs{
	padding-top: 25px;
}